body {
    background-color: #D3EBCD;
}

#container {
    background-color: #635666;
}

.switchPalette {
    color: #d005ff;
}

label, h1, #instrucciones {
    color: white;
}

#button {
    background-color: #D3EBCD;
    box-shadow: 0 5px 0px #D3EBCD;
    border-bottom: 2px solid #7fdb68;
}

/*
#button:hover {
    box-shadow: 0 3px 0px #D3EBCD;
    outline: none;
    transform: translateY(2px);
}

#button:focus {
    outline: none;
    text-decoration: none;
}
*/

#button:active {
    transform: translateY(5px);
    border-bottom-width: 2px;
    box-shadow: none;
}

@media (hover: hover) {
    #button:hover {
        box-shadow: 0 3px 0px #D3EBCD;
        outline: none;
        transform: translateY(2px);
    }
    
    #button:focus {
        outline: none;
        text-decoration: none;
    }

    #button:active {
        transform: translateY(5px);
        border-bottom-width: 2px;
        box-shadow: none;
    }
}