*{
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

label {
    margin: 10px 0;
}

input {
    display: block;
}

input[type=submit] {
    width: 50px;
}

#cookiesBanner {
    position: absolute;
    bottom: 0;
    background-color: rgb(58, 58, 131);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

#cookiesBanner p {
    margin: 12px 0;
}

#cookiesBanner button {
    width: fit-content;
    padding: 5px;
    border-radius: 0;
    background-color: rgb(58, 58, 131);
    border: white 2px  solid;
    color: white;
}

#cookiesBanner button:hover {
    background-color: white;
    color: black;
}