/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    /* padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none; */
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    /* background-color: #25a5b6; */
    color: red;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    /* padding: 0 18px; */
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }