.tachado {
    text-decoration: line-through;
}

.cursiva {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

.versalita {
    font-variant: small-caps;
}

.subrayado {
    text-decoration: underline;
}

#result {
    font-size: 5rem;
    width: fit-content;
    padding: 0;
}

.borde {
    border-bottom: solid 4px;
}