table {
    position: absolute;
    background-image: url(img/Captura\ de\ pantalla\ 2022-12-01\ a\ las\ 13.44.51.png);
    /* background-color: rgb(0, 0, 202); */
    z-index: -1;
}

td {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    transition: top 0.5s;
    background-color: white;
    color: white;
}

.falling {
    animation: fall 0.2s ease-in;
}

@keyframes fall {
    from {
        top: 0;
    }

    to {
        top: var(--top);
    }
}

.chip {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}