body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(161, 124, 224);
    font-family: Sans-serif;
}

#containerCalendario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    min-width: 330px;
    min-height: 300px;
    max-height: 500px;
}

#entradas {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(110, 84, 154);
    border: solid 3px white;
    border-radius: 30px;
    padding: 1rem;
    height: 5rem;
    margin: 1rem 0;
    -webkit-box-shadow: 0 10px 30px -6px #777;
    -moz-box-shadow: 0 10px 30px -6px #777;
    box-shadow: 0 10px 30px -6px #777;
}

label {
    font-size: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 50px;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    margin: 0 0 0 10px;
    background-color: rgb(161, 124, 224);
}

#containerAgenda {
    background-color: rgb(245, 255, 109);
    padding: 0.75rem;
    width: 254px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.containerNone {
    display: none;
}

#divCalendario {
    background-color: blanchedalmond;
    border-radius: 30px;
    padding: 1rem;
    -webkit-box-shadow: 0 10px 30px -6px #777;
    -moz-box-shadow: 0 10px 30px -6px #777;
    box-shadow: 0 10px 30px -6px #777;
}

#divCalendario td,
#divCalendario th {
    width: 30px;
    height: 30px;
    border: solid 1px;
    border-radius: 5px;
    background-color: white;
}

#divCalendario td:hover {
    background-color: rgb(110, 219, 115);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px rgb(195, 80, 80);
}

#divCalendario td p {
    text-align: center;
}

#divCalendario,
#divCalendario * {
    margin: 0;
}

#divCalendario th {
    background-color: #ffb350;
}

#divAgenda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

#divAgenda p {
    align-self: center;
}

.button {
    border: none;
    height: 2rem;
    width: 10rem;
    background-color: #ABD9FF;
    box-shadow: 0 5px 0px #ABD9FF;
    border-bottom: 2px solid #2493ee;
    border-radius: 10px;
    color: #2493ee;
    font-weight: bolder;
    align-self: flex-end;
}

.button:active {
    transform: translateY(5px);
    border-bottom-width: 2px;
    box-shadow: none;
}

li {
    list-style-type: square;
    margin-top: 10px;
    width: 80%;
}

li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li p {
    margin: 0;
    border-bottom: 1px solid;
    width: 100%;
}

li span {
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
}

li span:hover {
    color: red;
}

.diaConEvento {
    color: red;
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (hover: hover) {
    .button:hover {
        box-shadow: 0 3px 0px #ABD9FF;
        outline: none;
        transform: translateY(2px);
    }

    .button:focus {
        outline: none;
        text-decoration: none;
    }

    .button:active {
        transform: translateY(5px);
        border-bottom-width: 2px;
        box-shadow: none;
    }
}

@media screen and (min-width: 850px) {
    body {
        justify-content: flex-start;
    }

    #containerCalendario {
        margin-left: 14%;
    }
}