body {
    background: #937DC2;
    /*background: linear-gradient(#937DC2,rgb(160, 28, 28) 220%);*/
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#recuadro {
    width: 50%;
}

div {
    background-color: #FFABE1;
    padding: 1.5rem 3rem;
    border-radius: 25px;
    height: 50%;
}

ol{
    overflow: auto;
    height: 100%;
    margin: 0;
    width: 95%;

}

li{
    margin: 0.5rem 0;
}


ol::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

ol::-webkit-scrollbar
{
  width: 12px;
  
}

ol::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #FFABE1;
}
